/*stylesheet*/

:root {
	--background-color: #FF40B2;
	--body-color: ; 
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: black;
	font-weight: 400;
	font-size: 20px;
}

.wrapper {

}


#masthead {


}

#nav {
	background-color: hotpink;
  padding: 0 1rem;

}

#logo {
  padding: 1rem 0;
}

#logo #logo-holder {
  position: relative;
  color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo a {
  width: 30%; 
}

#logo img, #logo svg {
  width: 100%;
  height: auto;
  display: block;
}

/*MASTHEAD*/

#masthead, #main {
	margin-bottom: 2rem;
}

#masthead .grid {
  grid-gap: 0rem;
}

/*Nav section*/


#nav .nav-menu {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0; 
  margin: 0;
}

#nav .nav-menu a {
  padding: .5rem 0;
  color: #000;
  text-decoration: none;
}


#nav-button {
  display: none;
} 

#nav-button-holder {
  justify-content: flex-end;
  display: flex; 
  width: 100%;
  height: 100%;
  align-items: center;
}

.hamburger {
  height: 24px;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: var(--body-color); }

.hamburger-box {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 0px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 24px;
    height: 2px;
    background-color: var(--body-color);
    border-radius: 0px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


@media all and (max-width: 699px) { 

  #masthead {
    padding-bottom: 1rem;
  }

}
